*.iws
*.iml
.classpath
.project
*Db.properties
*Db.script
.settings
stacktrace.log
.idea
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
